.container-info {
  margin-top: 0;
  flex-grow: 1;
  height: calc(100vh - 8px);
  width: calc(100% - 8px);
  background-color: var(--bg-color);
  border: 4px solid var(--primary-color);
  display: flex;
  flex-direction: row;
}
