.container-auth {
  margin-top: 0;
  flex-grow: 1;
  height: calc(100vh - 8px);
  width: calc(100% - 8px);
  background-color: var(--bg-color);
  border: 4px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.div-auth {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  min-height: 60%;
  border: 4px solid var(--primary-color);
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10%;
  margin: 10%;
  position: relative;
  align-items: center;
}

.input-auth {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #d1d6d5;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
}

.input-auth.valid {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(44, 133, 112, 0.4);
}

.input-auth.invalid {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

.submit-button {
  background-color: rgb(44, 133, 112);
  color: white;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 95%;
}

.disclaimer-container {
  justify-content: center;
  flex-direction: row;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
  width: 95%;
  font-size: small;
}

.signup-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin-top: 10px;
  width: 95%;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

.link {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.link:hover {
  color: var(--link-hover-color);
}

.password-checklist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 10px 0;
  width: 90%;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  font-weight: bold;
}

.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 8vh;
  padding: 1%;
  box-sizing: border-box;
  max-width: 100%;
}

.otp-box {
  flex: 1 1 12%;
  max-width: 10%;
  aspect-ratio: 1 / 1.3;
  border: 1px solid #d1d6d5;
  border-radius: 20%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: white;
  transition: border 0.2s ease, transform 0.2s ease;
}
.otp-box.invalid {
  border: 1px solid red;
}
.otp-box.valid {
  border: 1px solid green;
}

.otp-container.error {
  animation: shake 0.4s;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 30%;
  max-width: 30%;
  height: 60%;
  background-color: transparent;
  padding: 2rem;
  border-radius: 10%;
  position: relative;
  margin: 10%;
  align-items: center;
  pointer-events: none;
}

.logo {
  width: 50%;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.info-text {
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 3em);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  word-wrap: break-word;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .div-auth {
    width: 50%;
  }
  .otp-container {
    max-width: 60%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container-auth {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: auto;
    min-height: calc(100vh - 8px);
  }

  .div-auth {
    width: 90%;
    margin: 10%;
    margin-top: 3%;
    border-radius: 10px;
    min-height: auto;
    padding: 1.5rem;
    background: transparent;
    border: none;
  }

  .info-container {
    width: 90%;
    min-width: 90%;
    min-height: 30vh;
    padding: 0;
    height: auto;
    margin: 0% 0%;
    gap: 0;
  }

  .logo {
    width: 40%;
  }
  .info-text {
    font-size: clamp(1.2rem, 8vw, 2.5rem);
  }

  .password-checklist {
    width: 100%;
  }
}
